{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block heading %}Create your account{% endblock %}

{% block text %}We value our users! Create an account below to access new perks.{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Search Reviews</title>
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body>
        <h1>Filter Restaurants</h1>
        <form action='/filter' method='GET'>
            <label for='cuisine'>Cuisine:</label>
            <select id='cuisine' name='cuisine'>
                <option value=''>Any</option>
                
            </select>
            <br><br>

            <label for='score'>Minimum Review Score:</label>
            <input type='number' id='review_score' name='review_score' min='1' max='10'>
            <br><br>

            <input type='submit' value='Filter Restaurants'>
        </form>
        <a href='/'>Return to Home</a>
    </body>
</html>
{% endblock %}